{
  "extends": "@ivangabriele/eslint-config-typescript-react",
  "env": {
    "browser": true,
    "node": false
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["/.yarn/", "/build/", "/clamav/", "/dist/", "/node_modules/", "/src-tauri/"],
  "rules": {
    "@typescript-eslint/no-use-before-define": "off",

    "no-null/no-null": "off",

    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": ["configs/*", "scripts/*"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    },
    {
      "files": ["e2e/*"],
      "env": {
        "browser": false,
        "jest": false,
        "mocha": true,
        "node": true
      },
      "globals": {
        "$": "readonly",
        "expect": "readonly"
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    }
  ]
}
