{
  "extends": "@ivangabriele/eslint-config-typescript-react",
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/core-modules": ["electron"]
  },
  "ignorePatterns": ["dist/", "/bin/", "/node_modules/"],
  "rules": {
    "import/no-default-export": "error",
    "import/prefer-default-export": "off",

    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",

    "@typescript-eslint/lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }]
  },
  "overrides": [
    {
      "files": ["./packages/main/**/*"],
      "env": {
        "browser": false,
        "node": true
      }
    },
    {
      "files": ["./packages/preload/**/*", "./packages/renderer/**/*"],
      "env": {
        "browser": true,
        "node": false
      }
    },
    {
      "files": ["./scripts/**/*", "vite.config.js"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "import/no-default-export": "off",
        "import/prefer-default-export": "error"
      }
    }
  ]
}
