* {
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: #6c757d;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 5px;
    outline: 0;
  }
}

html {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #1b1f38;
  border-radius: 16px;
  color: #495057;
  display: flex;
  flex-grow: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  font-weight: 300;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
}
