* {
  box-sizing: border-box;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: #6c757d;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    outline: 0;
    background-color: #99004d;
    border-radius: 2px;
  }
}

html {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-grow: 1;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
  color: white;
  border-radius: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #660033 0%, #330a1f 100%);
}
